// COLORS palette1

// $color-primary-dark: #5d001e;
// $color-primary-light: #9a1750;
// $color-secondary-dark: #ee4c7c;
// $color-secondary-light: #e3afbc;
// $color-white-shade: #e3e2df;
// $color: #e7717d;

// COLORS palette2

// $color-light: #;
$dark-color-bg: #212121;
$dark-color-header: #2b2a29;

$color1: #de5499;
$color: #f13e65;
$color-logo: #fc4970;
$color-text: #ed355d;
$color-dark: #9a1750;
$color-primary-dark: #5735d2; //962179
// $color-primary-light:
$color-secondary-dark: #fe9168;
$color-white-shade: #faeefa;
$color-white-shade-bg: #f8f9fa;
$color-white-shade2: #f4f5f6;
// $color: #e7717d;

$box-shadow: 0 0.225rem 0.295rem rgba(0, 0, 0, 0.075);

// body[theme="dark"]{}
